body{
  font-family: 'Do Hyeon', sans-serif;
  background-color:#011627;
  color:#FDFFFC;;
  text-align:center;
  border:40px solid #2EC486;
  border-top:0px;
  margin:0px;
}
.paragraph{
   text-align:center;
   background-color:#003366;
}
#paragraph1{
  padding-top:10px;
  padding-left:20%;
  padding-right:20%;
  padding-bottom:10px;
  text-decoration-color: white;
}
form{
  font-size:1.5em;
  margin-bottom:10px;
}
p{
  padding-bottom:0px;
}
#submit1{
  background-color:#ff6600;
  padding:3%;
  border-radius:25px;
  font-size: 1em;
}
